<h1><%= @cocktail.name %></h1>

<hr>

<%= cl_image_tag @cocktail.photo.key, height: 200, width: 200, crop: :fill %>

<hr>

<h5>Ingredients:</h5>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description %> <%= Ingredient.find(dose.ingredient_id).name %>
    </li>
  <% end %>
</ul>

<div class="mt-4">
  <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), :class => "btn btn-primary" %>
  <%= link_to "Remove ingredient", cocktail_dose_path(@cocktail), :method => :delete, :class => "btn btn-warning" %>
</div>

<div class="mt-4">
  <%= link_to "Delete cocktail", cocktail_path(@cocktail), :method => :delete, :class => "btn btn-danger" %>
</div>
